<!-- File: app/views/appointment_mailer/reschedule_notification.html.erb -->
<h1>Appointment Rescheduled</h1>

<p>Dear <%= @appointment.user&.first_name %>,</p>

<p>
  Your appointment has been updated. The new details are:
</p>

<ul>
  <li><strong>Date/Time:</strong> 
    <%= @appointment.appointment_time&.in_time_zone&.strftime('%B %d, %Y at %I:%M %p') %>
  </li>
  <li><strong>Dentist:</strong> 
    Dr. <%= @appointment.dentist&.first_name %> <%= @appointment.dentist&.last_name %>
  </li>
  <li><strong>Appointment Type:</strong> 
    <%= @appointment.appointment_type&.name %>
    (<%= @appointment.appointment_type&.duration %> minutes)
  </li>
</ul>

<% if @appointment.dependent_id? %>
  <p>
    This appointment is for your dependent 
    (<%= @appointment.dependent&.first_name %> <%= @appointment.dependent&.last_name %>).
  </p>
<% end %>

<p>Please contact us if you have any questions or need further adjustments.</p>
